@using BethanysPieShopHRM.App.Components.Widgets
@using BethanysPieShopHRM.App
@using BethanysPieShopHRM.App.State

@inherits TestContext

@code {

    public InboxWidgetTests()
    {
        Services.AddScoped<ApplicationState>();
    }

    [Fact]
    public void RenderInboxWidgetWithValueGreaterThanZero()
    {

        var applicationState = Services.GetService<ApplicationState>();
        Assert.NotNull(applicationState);
        applicationState.NumberOfMessages = 5;

        var cut = Render(@<InboxWidget />);
        cut.MarkupMatches("<h3>Inbox</h3><h4>You currently have 5 questions from employees!</h4><br /><br />");
    }

}
